<<<<<<< HEAD
<h1 class= "titre">📞CONTACT THE BOSS📞</h1>
<h2 class = "titre">If you want to contact us :</h2>
<br>
<ul >
<li> <a href="https://www.thehackingproject.org/">Contact</a> </li>
<li><a href="mailto:bonjour@thehackingproject.org">Email</a> </li>
</ul>
=======
<h1>Contact</h1>
<p>If you have any questions click <a href="https://www.facebook.com/ysaline.wizzy">here</a> !</p>
>>>>>>> 6b28e9f3d1ae41a2f5d092f49dba7f416a17d98d
