<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
<<<<<<< HEAD

        <a class="nav-item nav-link" href="/gossips">Gossip</a>
=======
        <a class="nav-item nav-link active" href="/gossips">Index<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/gossips/new">Create a Gossip</a>
>>>>>>> 6b28e9f3d1ae41a2f5d092f49dba7f416a17d98d
        <a class="nav-item nav-link" href="/team">Team</a>
        <a class="nav-item nav-link disabled" href="/contact">Contact</a>
      </div>
    </div>
  </nav>
</header>
